exportPattern("^[[:alpha:]]+")
import(CompQuadForm, lattice)
importFrom("stats", "anova", "binomial", "fitted.values", "glm", "lm",
              "na.omit", "optimize", "pchisq", "residuals", "var", "cov", "fitted")